@use '../vars';

.c-text__through {
  text-decoration: line-through;
}

.welcome-text {
  font-size: 65px;
  padding-top: 30vh;
}

.c-text-gradient {
  background-image: vars.$bg-text;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.note-text {
  width: 90%;
}
