$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1904px
);


$main-bg: linear-gradient(257deg, #00dc8263, #36e4da75 50%, #0047e180);
$bg-text: linear-gradient(45deg, #1d7f5b, #28269f); // 3

$border-color--light: #00000087;
$border-color--dark: #ffffff7a;

$theme-light: (
  border-color: #0000007a,
);

$theme-dark: (
  border-color: #ffffff7a,
);
