@use "../breakpoints";

.notes-page {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.notes-controll {
  padding: 15px 10vw;
  display: flex;
  justify-content: space-between;
  gap: 10%;

  @media (max-width: breakpoints.$md) {
    padding: 15px 5vw;
    flex-direction: column;
    gap: 15px;
  }
}

.notes-paginate {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}